<!DOCTYPE html>
<html lang="ua" encoding="utf-8">
    <head>
        <title>Найгарніші місця України</title>
    </head>
    <body>
        <h1>Найгарніші місця України</h1>
        <ul>
            <li>Площа ринок у Львові</li>
            <li>Оперний театр в Одесі</li>
            <li>Уманський парк "Софіївка"</li>
            <li>Тунель любові</li>
            <li>Озеро Синевир</li>
            <li>Шацькі Озера</li>
            <li>Заповідник Асканія-Нова</li>
        </ul>
    </body>
</html>