<!DOCTYPE html>
<html lang="ua" encoding="utf-8">
    <head>
        <title>Україна</title>
    </head>
    <body>
        <h1>Україна</h1>
        <ul>
            <li><a href="{{url_for('good_places')}}">Найгарніші місця неньки-України</a></li>
            <li><a href="{{url_for('imba_parks')}}">Найгарніші парки України</a></li>
            <li><a href="{{url_for('intereni_goroda')}}">Найцікавіші міста України</a></li>
            <li><a href="{{url_for('goroda_zahistniki')}}">Міста-Герої України - Фортеці незламного духу</a>
        </ul>
    </body>
</html>